  <%= link_to "Mlb Players", "/players" %>
<<h1>Teams</h1>
<% @teams.each.with_index do |team, index| %>
<div id="<%=index%>">
  <h3> <%= team.city %> <%= team.name %></h3>
  <p><%= team.created_at %></p>
  <p> Record: <%= team.wins %> - <%= team.losses %> </p>
  <p> Playoff Team: <%= team.playoffs %></p>
</div>
<% end %>
