<%= link_to "Mlb Players", "/players" %>
<%= link_to "Mlb Teams", "/teams" %>
<h1><%= @team.city %> <%= @team.name %></h1>
<p>Record: <%= @team.wins %> - <%= @team.losses %></p>
<p>Playoff Team: <%= @team.playoffs %></p>
<p>Players on Roster: <%= @team.players.count %></p>
