<h1><%= @team.city %> <%= @team.name %></h1>
<% @players.each do |player| %>
<h3><%= player.name %></h3>
<p>Salary: <%= player.salary %></p>
<p>Free Agent Next Season: <%= player.free_agent %></p>
<% end %>
