<p><%= link_to "Mlb Players", "/players" %></p>
<p><%= link_to "Mlb Teams", "/teams" %></p>
<h1><%= @team.city %> <%= @team.name %></h1>
<p><%= link_to "Sort Players", "/teams/#{@team.id}/players?sort_players=name" %></p>
<% @players.each.with_index do |player, index| %>
<div id="<%=index%>">
<h3><%= player.name %> <%= button_to "Edit #{player.name}", "/players/#{player.id}/edit", method: :get %></h3>
<p><%= button_to "Delete #{player.name}", "/players/#{player.id}", method: :delete %></p>
<p>Salary: <%= player.salary %></p>
<p>Free Agent Next Season: <%= player.free_agent %></p>
</div>
<% end %>
<p><%= link_to "Add New Player", "/teams/#{@team.id}/players/new" %></p>
